@import "../../styles/breakpoints.module.scss";
@import "../../styles/colors.module.scss";


.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

	.status {
		&-pendiente {
			color: $orange;
		}
		&-cancelada {
			color: $red;
		}
		&-completada {
			color: $green;		
		}
	}
    div {
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        padding: 1em 0;
        margin: 0 1em;
    }

	button {
		width: 10em;
	}
}

.order-list {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.1);
	padding: 15px;
	height: fit-content;
	gap: 1em;
    margin-left: 2em;

	&__title {
		margin: 0;
		text-align: center;
	}

	&__description {
		text-align: center;
	}
}

button {
	width: 10em;
}


@media screen and (max-width: 570px) {
    .order-header {
        font-size: 0.5em;

		button {
			width: 10em;
		}
    }
}

.order-summary {
	@media screen and (max-width: 570px) {
		&__titles {
			font-size: 0.6em;
		}

		&__dollar {
			font-size: 0.6em;
		}

		&__bs {
			font-size: 0.6em;
		}
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		padding: 1em;
		border-radius: 10px;
		box-shadow: 1px 1px 0.5px 0.5px rgba(0, 0, 0, 0.15),
			-1px -1px 0.5px 0.5px rgba(0, 0, 0, 0.15);
		width: 98%;
	}

	&__titles,
	&__dollar,
	&__bs {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: bold;
		gap: 0.5em;

		&-total {
			background-color: $red;
			color: $white;
			width: 100%;
			text-align: center;
			padding: 1em;
		}
	}
}