
@import "../../styles/breakpoints.module.scss";
@import "../../styles/colors.module.scss";

.title {
    text-align: center;
}

.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 0;

    &.processing {
        .cart-list {
            display: none;
        }

        .processing-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1em;
            padding: 2em 0;

            &__title {
                margin: 0;
                text-align: center;
            }

            &__description {
                text-align: center;
            }

            &__icon {
                height: 100px;
                width: 100px;
            }
        }
    }

    .cart-list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.1);
        padding: 15px;
        height: fit-content;
        gap: 1em;
        width: 100%;
    
        &__title {
            margin: 0;
            text-align: center;
        }
    
        &__description {
            text-align: center;
        }

        .metodo-de-pago {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            gap: 1em;
            margin: 1em 0;
            width: 100%;

            .metodo-de-pago__buttons {
                @media screen and (min-width: $tablet-width) {
                    width: 50%;
                }

                @media screen and (max-width: $tablet-width) {
                    width: 100%;
                }

                &__button {
                    margin: 0.5em 0;
                    border: 1px solid $red;
                    border-radius: 5px;
                    padding: 2em 0.5em;

                    @media screen and (min-width: $tablet-width) {
                        width: 100%;
                    }

                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    &.button-active {
                        background-color: $red;
                        color: $white;
                    }

                    &__label {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 2em;
                        font-weight: 600;
                    }

                    &__icon {
                        height: 100px;
                        width: 100px;
                    }
                }
            }
        }

        .button-cart-navigation {
            display: flex;
            flex-direction: row;
            gap: 1em;
        }
    }

    button {
        width: 10em;
    }
}

