@import "../../styles/colors.module.scss";
@import "../../styles/breakpoints.module.scss";

.cart-button-container {
    margin: 1em 0;
    display: grid;
    gap: 1em;

    @media screen and (max-width: $tablet-width) {
        grid-template-columns: repeat(3, 1fr);
        
        &__price {
            grid-column-start: 1;
        }
    }

    @media screen and (min-width: $tablet-width) {
        grid-template-columns: repeat(5, 1fr);

        &__price {
            grid-column-start: 2;
        }
    }

    &__price {
        font-size: 1em;
        font-weight: bold;
        text-align: right;

        p {
            margin: 0;
        }
    }
    
    .disabled {
        background-color: $red;
        color: $white;
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
            opacity: 0.5;
        }
    }
}

%base-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.3);

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.5;
    }
}

.button {
    @extend %base-button;
    border-radius: 20px;
    height: 40px;
    width: 100%;

    
    &__content {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 13px;
    }
}

.circle-button {
    @extend %base-button;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.primary {
    background-color: $red;
    color: $white;

    &.disabled {
        background-color: $red;
        color: $white;
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
            opacity: 0.5;
        }
    
    }
}

.secondary {
    background-color: $black;
    color: $white;

    &.disabled {
        background-color: $black;
        color: $white;
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
            opacity: 0.5;
        }
    }
}

.tertiary {
    background-color: $white;
    color: $black;

    &.disabled {
        background-color: $white;
        color: $black;
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
            opacity: 0.5;
        }
    }
}