
@import "../../styles/breakpoints.module.scss";
@import "../../styles/colors.module.scss";

.user-container {
    display: grid;

    .user-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.1);
        height: fit-content;
        gap: 1em;
    
        &__title {
            margin: 0;
        }
    }

    .button {
        width: 10em;
    }
}

@media screen and (min-width: $tablet-width) {
    .user-container {
        grid-template-columns: repeat(5, 1fr);

        .user-content {
            grid-column-start: 2;
            grid-column-end: span 3;
            padding: 2em;
            width: 100%;
        }
    }
}

@media screen and (max-width: $tablet-width) {
    .user-container {
        grid-template-columns: 1fr;

        .user-content {
            padding: 1em;
            width: 90%;
        }
    }
}

@media screen and (max-width: 570px) {
    .layout {
        margin: 0;
    }
    .user-container {
        grid-template-columns: 1fr;

        .user-content {
            padding: 1em;
            width: 100vw;
        }
    }
}