.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;

    &__title {
        font-size: 2.5em;
        font-style: italic;
        text-align: center;
        width: 450px;
    }

    &__orders {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 480px) {
    .list {
        &__title {
            font-size: 7vw;
            max-width: 420px;
            width: auto;
        }
    }

}