$black: #000000;
$paleBlack: #212121;
$red: #ec6300;
$orange: #f1b314;
$grey: #606060;
$blue: #002ca3;
$white: #ffffff;
$green: #00a300;

:export {
    black: $black;
    paleBlack: $paleBlack;
    red: $red;
    orange: $orange;
    grey: $grey;
    blue: $blue;
    green: $green;
    white: $white;
}