@import "../../styles/colors.module.scss";
@import "../../styles/breakpoints.module.scss";

@media screen and (max-width: 1023px) {
    .login-container {
        top: 16%!important;
    }
}

.parent-container {
    position: relative;

    .banner, .banner__layer {
        height: 35em;
    }

    .login-container {
        position: absolute;
        top: 22%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        .login {
            align-items: center;
            border-radius: 40px;
            background: #212121;
            display: flex;
            flex-direction: column;
            height: 450px;
            width: 350px;
            gap: 10px;

            &__logo {
                margin-top: 15px;
            }

            &__fields {
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                margin-top: 10px;

                &__remember {
                    align-self: start;
                    align-items: center;
                    background-color: transparent;
                    border: none;
                    color: $white;
                    cursor: pointer;
                    display: flex;
                    gap: 5px;
                    margin-left: 12px;
                    font-size: 12px;

                    &:hover>* {
                        color: $red;
                    }
                }
                &__forgot {
                    margin-left: 5px;
                    color: $white;

                    .register {
                        color: $red;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                            color: orange;
                        }
                    }
                }
            }

            &__buttons {
                display: flex;
                flex-direction: column;
                margin-top: 15px;
                gap: 20px;
                width: 90%;
            }
            
        }

    }

}