.card {
	background-color: #fff;
	width: 420px;
	height: 336px;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	position: relative;

	&__image {
		object-fit: cover;
		transition: transform 0.3s ease-in-out;
	}

	&__buttons {
		position: absolute;
		right: 18px;
		bottom: 18px;
		display: flex;
		gap: 10px;
		z-index: 2;

		&:hover ~ .overlay {
			opacity: 0.3;
		}

		&:hover ~ .card__text {
			color: #fff;
		}

		&:hover ~ .card__image {
			transform: scale(1.2);
		}
	}

	&__text {
		position: absolute;
		z-index: 3;
		top: 10px;
		left: 10px;
		pointer-events: none;

		* {
			margin: 0;
		}
	}
}

.overlay {
	background-color: #000;
	border-radius: 12px;
	opacity: 0;
	position: absolute;
	width: 420px;
	height: 336px;
	top: 0;
	z-index: 1;
	transition: opacity 0.3s ease-in-out;

	&:hover {
		opacity: 0.3;
	}

	&:hover ~ .card__text {
		color: #fff;
	}

	&:hover ~ .card__image {
		transform: scale(1.2);
	}
}

@media screen and (max-width: 570px) {
	.card {
		width: 85vw;
		height: 65vw;
		font-size: 0.8em;
		&__image {
			width: 150px;
		}
	}

	.pager {
		font-size: 0.8em;
        span {
			width: 46px;
		}
	}
}
